<!DOCTYPE html>
<html ng-app="myCtrl">
  <head>
    <meta charset="utf-8">
    <title>Hide-A-Form</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
      
      <!-- Links to my own JS and CSS files -->
      <link rel="stylesheet" href="style.css" type="text/css" />
      <script type="text/javascript" src="script.js"></script>

  </head>
  <body ng-controller="formCtrl as fCtrl">
    
    <form ng-show="fCtrl.show" ng-submit="fCtrl.submit()" class="form">
        <h3>Fill out your profile info below</h3>
        <div class="form-fields">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="fCtrl.name" name="name" placeholder="Full name">
        </div>
        <div class = "form-fields">
            <label>Bio</label>
            <textarea class="form-control" rows="3" ng-model="fCtrl.bio" name="bio" placeholder="Write your bio here"></textarea>
        </div>
        <div class = "form-fields">
            <label>Favorite books</label>
            <textarea class="form-control" rows="3" ng-model="fCtrl.books" name="books" placeholder="Write your favorite books here"></textarea>
        </div>
        <div class = "form-fields">
            <label>Favorite JS libraries</label>
            <textarea class="form-control" rows="3" ng-model="fCtrl.libraries" name="libraries" placeholder="Write your favorite JS libraries here"></textarea>
        </div>
        <input type="submit" id="submit" value="Submit" />
    </form>

    <button ng-click="fCtrl.showFunc()">{{fCtrl.button}}</button>
    
    <hr>
    
    <form class="form-inline">
        <h3>Profile</h3>
        <div class="profile-info">
            <h4>{{fCtrl.formArr[0]}}</h4>
        </div>
        <div class="icon-image">
            <img class="img-circle" src="http://www.factzoo.com/sites/all/img/birds/two-blue-footed-boobies.jpg"></img>
        </div>
        <div class="profile-info">
            <p>{{fCtrl.formArr[1]}}</p>
        </div>
        <div class="profile-info">
            <p>{{fCtrl.formArr[2]}}</p>
        </div>
        <div class="profile-info">
            <p>{{fCtrl.formArr[3]}}</p>
        </div>
    </form>
  </body>
</html>
