<!DOCTYPE html>
<html ng-app="myCtrl">
  <head>
    <meta charset="utf-8">
    <title>Hide-A-Form</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
      
      <!-- Links to my own JS and CSS files -->
      <link rel="stylesheet" href="style.css" type="text/css" />
      <script type="text/javascript" src="script.js"></script>

  </head>
  <body ng-controller="quotesCtrl as qCtrl">
    
    <form ng-submit="qCtrl.submit()" ng-show="qCtrl.show" class="form">
        <h3>Enter your quote below</h3>
        <div class="form-fields">
            <label>Quote</label>
            <textarea class="form-control" rows="3" ng-model="qCtrl.quote" name="quote" placeholder="Enter quote here"></textarea>
        </div>
        <div class = "form-fields">
            <label>Author</label>
            <input type="text" class="form-control" ng-model="qCtrl.author" name="author" placeholder="Enter author here">
        </div>
        <div>
        <button type="submit">Submit Quote</button>
        </div>
    </form>
    
    <button ng-click="qCtrl.showFunc()">{{qCtrl.button}}</button>
    
    <hr>
    
    <div class="form-inline">
        <h3>Quotes</h3>
        <ul class="profile-info">
            <li ng-repeat="submit in qCtrl.formArr">{{submit.quote}} - {{submit.author}}</li>
        </ul>
    </div>
  </body>
</html>