/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.back {
	position: relative;
	top: -200px;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;    
    transition: opacity 1s ease-in-out;
}

.portfolio-item {
	position: relative;
	height: 200px;
	width: 200px;
}

.front img {
	border-radius: 12px;
	position: absolute;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;    
    transition: opacity 1s ease-in-out;
}

.back:hover {
	opacity:1;
}

.front:hover {
	opacity: 0;
}