.svg-div {
    margin: 25px;
}

#donut text {
    padding: 10px;
}

#donut {
    float: left;
}

.temp-graph {
    width: 600;
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
	margin: 50px;
	padding: 20px;
}

.x-axis text,
.y-axis text {
    stroke: none;
    fill: steelblue
}

h3 {
    font-size: 18px;
}

.form {
    margin-left: 25px;
}

.form-fields {
    padding-right: 10px;
    display: inline-block;
}

.form-control {
    width: 75px;
}

.btn {
    background-color: black;
    color: white;
    display: block;
}