<!DOCTYPE html>
<html ng-app='CompostIt'>
    
<head>
  <meta charset="utf-8">
  <title>CompostIT</title>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
  
  <!-- Link to D3 -->
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
  
  <!-- Link to my CSS file -->
  <link rel="stylesheet" href="chart.css" type="text/css" />
  
</head>

<body ng-controller="chartCtrl as c">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CompostIT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Profile</a>
            </li>
            <li>
              <a href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <!-- DISPLAY GRAPH IN D3 -->
    <div id="graph" style="width:500px; height:250px;"></div>
    <!--  DISPLAY DONUT WITH D3 -->
    <div class="svg-div">
    </div>
    <!--  FORM TO UPDATE DONUT -->
    <form class="form" ng-submit="c.submit()">
      <h3>Material added:</h3>
      <div class="form-fields">
        <label>Weight:</label>
        <input type="number" class="form-control" ng-model="c.weight" name="weight">
      </div>
      <div class="form-fields">
        <label for="color">Type:</label>
        <select class="form-control" id="color" ng-model="c.color">
          <option>Brown</option>
          <option>Green</option>
        </select>
      </div>
      <div class="form-fields">
        <button type="submit" class="btn">Update</button>
      </div>
    </form>
  </main>
  <footer>
  </footer>
  
  <script type="text/javascript" src="chart.js"></script>
</body>

</html>