<!DOCTYPE html>
<html>
    <head ng-app="myCtrl">
        <meta charset="utf-8">
        <title>CompostIT</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
        
        <!-- Link to D3 -->
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
        
        <!-- Link to my CSS file -->
        <link rel="stylesheet" href="chart.css" type="text/css" />
        
    </head>
    
    <body ng-controller = "chart as c">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">CompostIT</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </nav>
        
        <div class="graph">
        <svg id="visualisation" width="500" height="250"></svg>
        
        <form ng-submit="c.submit()" class="form">
        <h3>Enter your data below</h3>
        <div class="form-fields">
            <label>Day of the month</label>
            <input type="text" class="form-control" ng-model="c.date" name="day">
        </div>
        <div class = "form-fields">
            <label>Temperature (F)</label>
            <input type="text" class="form-control" ng-model="c.temp" name="temp">
        </div>
        <div class = "form-fields">
            <label>Humidity (%)</label>
            <input type="text" class="form-control" ng-model="c.humidity" name="humidity">
        </div>
        <div>
        <button type="submit" class="btn">Submit Data</button>
        </div>
    </form>
        </div>
        
        <script type="text/javascript" src="chart.js"></script>
    </body>

</html>
