<!DOCTYPE html>
<html ng-app='button'>
  <head>
    <meta charset="utf-8">
    <title>JS4.1 Intro to Angular</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
      
      <!-- Link to my own CSS file -->
      <link rel="stylesheet" href="js4.1-style.css" type="text/css" />
      
      <!-- Link to my own JS file -->
      <script type="text/javascript" src="js4.1.js"></script>

  </head>
  <body ng-controller="pop-up as pUp">
    <div ng-controller="buttonClick as btnClick">
      <h1 ng-show="btnClick.show">Ta-da!!!</h1>
      <!--<button ng-click='btnClick.buttonClick()'>Click here</button>-->
      <!--<button ng-click='btnClick.buttonClick2()'>Click here</button>-->
      <button ng-click='btnClick.myfunc()'>Click here</button>
    </div>
    <div ng-controller="listReveal as lstRvl">
      <button ng-click='lstRvl.myfunc()'>Click here</button>
      <ul ng-show="lstRvl.show">
        <li>List item one.</li>
        <li>List item two.</li>
        <li>List item three.</li>
      </ul>
    </div>
    <div ng-controller="turnPink as trnPnk">
      <h1>Mouse over the below paragraph to see it turn pink<span ng-show="trnPnk.bang1">!</span></h1>
      <p ng-mouseenter="trnPnk.myfunc1($event)" ng-style="{'color': trnPnk.color}" ng-mouseleave="trnPnk.onLeave1($event)">When a link is clicked, confirm that the user wants to navigate to that url. If the user clicks OK, allow the default behavior of the link to be executed. If the user clicks cancel, cancel the default browser behavior by calling event.preventDefault() on the event object.</p>
      <a href="http://www.google.com" ng-click="trnPnk.clickConfirm($event)">Google</a>
      <h1>Mouse over the below paragraph to see it turn pink<span ng-show="trnPnk.bang2">!</span></h1>
      <p ng-mouseenter="trnPnk.myfunc2($event)" ng-style="{'color': trnPnk.color}" ng-mouseleave="trnPnk.onLeave2($event)">When a link is clicked, confirm that the user wants to navigate to that url. If the user clicks OK, allow the default behavior of the link to be executed. If the user clicks cancel, cancel the default browser behavior by calling event.preventDefault() on the event object.</p>
      <h1>Mouse over the below paragraph to see it turn pink<span ng-show="trnPnk.bang3">!</span></h1>
      <p ng-mouseenter="trnPnk.myfunc3($event)" ng-style="{'color': trnPnk.color}" ng-mouseleave="trnPnk.onLeave3($event)">When a link is clicked, confirm that the user wants to navigate to that url. If the user clicks OK, allow the default behavior of the link to be executed. If the user clicks cancel, cancel the default browser behavior by calling event.preventDefault() on the event object.</p>
    </div>
    
    <div>
      <button class= "bigButton" ng-click='pUp.myfuncOpen()'>Click here</button>
      <div class = "popUp-div" ng-show="pUp.show">
        <h1>Hello</h1>
        <p>This is a pop-up!</p>
        <button class="closeButton" ng-click='pUp.myfuncClose()'>Click here to Close</button>
      </div>
    </div>
    
  </body>
</html>

<!--Create an HTML page with a button.-->
<!--Add an ng-click directive so that when you click the button a message is printed to the console.-->
<!--Change the behavior of the click handler to reveal an h1 with some text in the body element.-->
<!--Add another button with a click handler that reveals an unordered list with three list items in the body element.-->

<!--Part II-->
<!--Create an HTML page with some filler content including some paragraphs, headings, and links.-->
<!--When a paragraph is moused over, turn the text of that paragraph pink.-->
<!--Add an exclamation point to the end of each heading.-->
<!--When a link is clicked, confirm that the user wants to navigate to that url. If the user clicks OK, allow the default behavior of the link to be executed. If the user clicks cancel, cancel the default browser behavior by calling event.preventDefault() on the event object.-->
<!--When a link is clicked and the user chooses not to go to the url, remove the link from the DOM.-->

<!--Part III-->
<!--Create an HTML page with one giant button in the center.-->
<!--When the giant button is clicked, a 'popup' is revealed. The popup is simply a div containing some HTML content, which has a class applied making it appear with position: fixed in the middle of the page.-->
<!--Add a close button to the popup. When clicked, the popup should be hidden.-->

<!--Make sure the giant button still works to create a popup even after one is opened and closed.-->