body {
    font-family: helvetica;
    margin: 0;
}

h1 {
    font-size: 24px;
}

img {
    float: left;
    margin: 0 25px 100px 15px;
}

.profile-info {
    font-size: 12px;
    color: #7f8c8d;
}

.small-header {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.small-header p {
    margin: 0;
    padding: 3px;
}

.first-name p,
.last-name p,
.city p,
.job-title p,
.company p {
    width: 126px;
    padding: 4px;
}

.first-name,
.last-name,
.job-title,
.company {
    display: inline-block;
}

.city p {
    clear: left;
    display: inline;
}

.city {
    height: 14px;
}

.small-header input {
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.first-name p input,
.last-name p input,
.job-title p input,
.company p input {
    font-family: helvetica;
    display: inline-block;
    width: 126px;
}

.city p input {
    font-family: helvetica;
    width: 126px;
}

.city input {
    font-size: 12px;
    color: #7f8c8d;
    margin: 0;
    margin-top: -4px;
}

.first-name input,
.last-name input,
.job-title input,
.company input {
    font-size: 12px;
    color: #7f8c8d;
    margin: 12px 0;
}

