body {
    font-family: helvetica;
    margin: 0;
}

h1 {
    font-size: 24px;
}

img {
    float: left;
    margin: 0 25px 0px 15px;
}

.profile-info {
    font-size: 12px;
    color: #7f8c8d;
}

.small-header {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.small-header p {
    margin: 0;
    padding: 3px;
}

.inline p {
    display: inline-block;
    margin-right: 25px;
    width: 75px;
}

.small-header input {
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

